    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>

          <nav>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="http://www.patreon.com/hyre"><i class="fa
                fa-heart"></i> &nbsp;Become a Patron</a>
            <a href="https://github.com//openhyre"><i
                class="fa fa-github-alt"></i> &nbsp;Hyre on GitHub</a>
          </nav>
        </header>
      </div>
    </div>
